<!DOCTYPE html>
<html>
<head>
  <title>ProjectBlack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="menu">
  <%= link_to "Home", "/" %>
  <%= link_to "Clubs", "/" %>
  <% if user_signed_in? %>
  <%= link_to "Profile", "/profile" %>
  <% else %>
  <%= link_to "Sign in", "/login" %>
  <% end %>
  <% if !user_signed_in? %>
  <%= link_to("/register") do %>
  <span style="font-size: 14px; position: absolute; right: 2em">Join the club</span>
  <% end %>
  <% else %>
  <%= link_to("/logout", :method => :delete ) do %>
  <span style="font-size: 14px; position: absolute; right: 2em">Enough Clubing for the day</span>
  <% end %>
  <% end %>
</div>
<div id="sidebar">
<h2 class="side-bar-title">
Sidebar Title
</h2>
<p class="side-bar-content">
This sidebar will include: create club, join club, explore and some news feature(maybe).
</p>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="content">
<%= yield %>
</div>
</body>
</html>
